

body {
}

.visibile {
	display: inherit;
}

.hidden {
	display: none;
}

.dungeon-map {
	display: flex;
}

.column {
	display: flex;
	flex-flow: column;
}

.cell {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 1px solid black;
}

.cell.wall {
	background-color: grey;
}

.cell.true {
	background-color: white;
}