

body {
}

.visibile {
	display: inherit;
}

.hidden {
	display: none;
}

.dungeon-map {
	display: flex;
}

.column {
	display: flex;
	flex-flow: column;
}

.cell {
	width: 20px;
	height: 20px;
	background-color: white;
	border: 3px solid grey;
}

.cell.floor {
	background-color: grey;
}

.cell.floor.east {
	border-right-color: black;
}

.cell.floor.north {
	border-top-color: black;
}

.cell.floor.west {
	border-left-color: black;
}

.cell.floor.south {
	border-bottom-color: black;
}

.cell.true {
	background-color: white;
}